# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- script: sudo dotnet tool install --tool-path=/usr/bin dotnet-sonarscanner --version 4.10.0
  displayName: 'Instalaci칩n SonarScanner'
- script: whereis dotnet-sonarscanner
  displayName: 'whereis dotnet-sonarscanner'
- script: export SONAR_TOKEN=c6e9bac5249c3e7c9e829b92499f6f0dfe1fe884
  displayName: 'Preparar Token Sonar'
- script: dotnet sonarscanner begin /o:gerardoat /k:gerardoat_pocrandd /d:sonar.host.url=https://sonarcloud.io /version:AzurePipelines
  displayName: 'Iniciar an치lisis Sonar'
- script: dotnet build src --configuration $(buildConfiguration)
  displayName: 'Build de la soluci칩n'
- script: dotnet sonarscanner end
  displayName: 'Finalizar an치lisis Sonar'
